body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* html given element where the events are entered */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* header at top of page with current date */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/* belongs to column 2 (textarea) where the calendar events are input*/
.description {
  white-space: pre-wrap;
}

/* still not sure if this is the class for all rows or just column 1 */
.time-block {
  text-align: center;
  border-radius: 15px;
}

/* the parent divs for each hour, 9 total */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

/* belong to column 1 with the times 9am-5pm */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* class added to second column of text depening on current-time */
.past {
  background-color: #d3d3d3;
  color: white;
}

/* class added to second column of text depening on current-time */
.present {
  background-color: #ff6961;
  color: white;
}

/* class added to second column of text depening on current-time */
.future {
  background-color: #77dd77;
  color: white;
}

/* added to third column with the buttons */
.saveBtn {
  /* display: flex;
  justify-content: center; */
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.bi {
  align-items: center;
  font-size: 25px;
  color: white;
}

.saveBtn i:hover {
  font-size: 25px;
  transition: all 0.3s ease-in-out;
  color: black;
}
